/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.grid {
  max-width: 1220px;
  width: 100%;
}

.grid--12-col {
  display: grid;
  grid-template-columns: repeat(12, 80px);
  gap: 24px;
}

/* Fonts */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__left {
  text-align: left;
}

.header__title {
  margin-bottom: 5px;
}

.header__description {
  font-size: 14px;
}

.header__nav {
  text-align: right;
}

/* Navigation styles */
.nav__list {
  list-style-type: none;
}

.nav__item {
  display: inline-block;
  margin-left: 15px;
}

.nav__link {
  text-decoration: none;
  color: #2e2e2e;
}

/* Main styles */
.main {
  padding: 20px;
}

.main__section {
  margin-bottom: 20px;
  grid-column: span 12;
}

/* Section Styles */
.section__title {
    grid-column: span 3;
    grid-row: 1;
}

/* Card styles */
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  grid-column: span 4;
  grid-row: 2;
}

.card__image {
  max-width: 150px;
  max-height: 150px;
}

.card__content {
  padding: 15px;
}

.card__title {
  margin-bottom: 10px;
  font-size: 18px;
}

.card__description {
  margin-bottom: 10px;
  font-size: 14px;
}

.card__link {
  text-decoration: none;
  color: #007bff;
}

/* Footer styles */
.footer {
  text-align: center;
  padding: 20px;
  /* background-color: #2e2e2e;
  color: #fff; */
}

.footer__copyright {
  font-size: 14px;
}
